# Whitelisting:
# #############
*
!*/
!.gitignore
!./README.md
!./LICENSE

# Configs:
# ########
# - Hyprland
!hypr/hyprland.conf
!hypr/hyprpaper.conf
!hypr/screenshot_keyless.sh
!hypr/wallpaper_violin.png
!hypr/wallpaper_spaceman.jpg
!hypr/wallpaper_whales.jpg

# - Gammastep
!gammastep/config.ini

# - Kitty
!kitty/*

# - NeoFetch
!neofetch/*

# - FastFetch
!fastfetch/*

# - Waybar
!waybar/*

# - Wofi
!wofi/*