# Whitelisting:
# #############
*
!*/
!.gitignore
!./README.md
!./LICENSE

# Configs:
# ########
# - Hyprland
!hypr/hyprland.conf
!hypr/hyprpaper.conf
!hypr/screenshot_keyless.sh

# - Gammastep
!gammastep/config.ini

# - Kitty
!kitty/*

# - NeoFetch
!neofetch/*

# - Waybar
!waybar/*

# - Wofi
!wofi/*