# Whitelisting:
# #############
*
!*/
!.gitignore

# Configs:
# ########
# - Hyprland
!hypr/hyprland.conf
!hypr/hyprpaper.conf
!hypr/screenshot_keyless.sh

# - Kitty
!kitty/*

# - NeoFetch
!neofetch/*

# - Waybar
!waybar/*

# - Wofi
!wofi/*